<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Weperch Technologies Ltd">
	    <meta name="description" content="ASFI, African Science Frontiers Initiative, African Scientists, African Scholars, Scholars, Education">
        <link rel="stylesheet" href="/css/posterDeck.css">
		<link rel="stylesheet" href="/css/general.css">

        <!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="/css/bs-stepper.min.css">
       
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="/files/images/ASFIScholar_Logo.png">
    
        <link rel="stylesheet" href="/css/css/fontawesome.css">
        <link rel="stylesheet" href="/css/css/fontawesome-all.css">
    
        <link rel="stylesheet" href="/css/material-design-iconic-font.css">
        <link rel="stylesheet" href="/css/weather-icons/css/weather-icons-core.css">
    
        <title>Create Course</title>
        <!-- Dark mode -->
        <script src="/js/colorTheme.js?v=<%= Date.now() %>"></script>

</head>

<body>

    <!-- NAVIGATION BAR  -->
    <!-- <sidebar class="left-navigation-bar bg-shadow ">
       
             <script src="/js/navbar.js?v=<%= Date.now() %>"></script>
     </sidebar> -->
     <!-- END NAVIGATION BAR  -->

<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container containerReg">
            <!-- Logo START -->
			<a class="navbar-brand" href="">
				<img class="light-mode-item navbar-brand-item" src="/images/ASFIScholar_Logo.png" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/images/ASFIScholar_Logo.png" alt="logo">
			</a>
			<!-- Logo END -->
			<!-- SignUp or Login -->
			<a href="/sessionDashboard"><span class="btn btn-primary">Poster Dashboard</span></a>
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>


<!-- =======================
Steps START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<h4>Create a Poster Deck</h4>
				<!-- Content -->
				<h6 class="text-center">Create your Poster Deck in minutes! </h6>
			</div>
		</div>
        <br>

		<div class="card-body">
		<!-- Step 1 content START -->
		<div class="content">
			<!-- Title -->
			

			<hr> <!-- Divider -->

			<!-- Basic information START -->
			<div class="row g-4">
				<form action="">
				<!-- Event title -->
				<div class="col-12">
					<label class="form-label">Event title*</label>
					<input class="form-control" type="text" name="eventTitle" id="eventTitle"  placeholder="Enter event title">
				</div>

				<!-- Event organizer -->
				<div class="col-12">
					<label class="form-label">Organizer*</label>
					<input class="form-control" type="text" name="eventOrganizer" id="eventOrganizer" value="">
				</div>

				<!-- Short description -->
				<div class="col-12">
					<label class="form-label">Short description</label>
					<textarea class="form-control" name="shortDescription" id="shortDescription" rows="10" placeholder="Enter keywords"></textarea>
				</div>

				<!-- Date of Event -->
				<div class="col-12">
					<label class="form-label">Start Date*</label>
					<input class="form-control" type="date" name="startDate" id="startDate" value="">
				</div>

				<!-- Event URL -->
				<div class="col-12">
					<label class="form-label">Event URL</label>
					<input class="form-control" type="text" name="eventURL" id="eventURL" value="" placeholder="https://">
				</div>
          
				

				
				

				<!-- Step 1 button -->
				<div class="d-flex justify-content-end mt-3">
					<button type="button" class="btn btn-primary next-btn mb-0">Create Poster Session</button>
				</div>

			   </form>
			</div>
			<!-- Basic information START -->
		</div>
		<!-- Step 1 content END -->
	</div>

		
		</div>
	</div>
</section>
<!-- =======================
Steps END -->



</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- =======================
Footer START -->
<footer class="bg-dark p-3">
	<div class="container">
		<div class="row align-items-center">
            <!-- Widget -->
            <div><script src="/js/footer.js?v=<%= Date.now() %>"></script></div>
			<!-- Widget -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->
<script src="/js/jquery-3.4.1.min.js?v=<%= Date.now() %>"></script>

<!-- Back to top -->
<div class="back-top"><i class="fas fa-arrow-up position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="/js/bootstrap.bundle.min.js?v=<%= Date.now() %>"></script>




</body>

</html>